<%= form_with scope: :note, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.label :date_of_event %><br>
      <%= form.date_select :date %>
    </p>

    <p>
      <%= form.submit %>
    </p>

    <%= link_to 'Back', root_path %>
<% end %>